.onlineExp{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 16px;
}

.heroText{
    font-size: 16px;
    font-weight: 300;
    margin-top: 0;
}

section{
    padding: 20px;
}

.hero{
    display: flex;
    flex-direction: column;
}

.hero--pic{
    max-width:400px;
    align-self: center;
}